punctuation_chars = ["'", '"', ",", ".", "!", ":", ";", '#', '@']
#### lists of words to use###
# Positive words list
positive_words = []
with open("positive_words.txt") as pos_f:
    for lin in pos_f:
        if lin[0] != ';' and lin[0] != '\n':
            positive_words.append(lin.strip())
print(positive_words)
# Negative words list
negative_words = []
with open("negative_words.txt") as pos_f:
    for lin in pos_f:
        if lin[0] != ';' and lin[0] != '\n':
            negative_words.append(lin.strip())
print(negative_words)
#######################
# strip Function
def strip_punctuation(word):
    for i in punctuation_chars:
        if i in word:
            word = word.replace(i,"")
    return word
#print(strip_punctuation("abound is Momo!!!!"))
#Negetive words counter function
def get_neg(sentence):
    sentence = sentence.lower()
    sentence = strip_punctuation(sentence)
    sentence = sentence.split()
    #print(sentence)
    count_ne = 0
    for i in sentence:
        if i in negative_words: 
            count_ne += 1
    return count_ne
#print(get_neg("abound is MoMo!!!!"))
# Positive words counter Function
def get_pos(sentence):
    sentence = sentence.lower()
    sentence = strip_punctuation(sentence)
    sentence = sentence.split()
    #print(sentence)
    count = 0
    for i in sentence:
        if i in positive_words: 
            count += 1
    return count

# Net Score Function
def Net_Score(string):
        #if get_pos(string)> get_neg(string):
            #return(get_pos(string))
        #elif get_pos(string) == get_neg(string):
            #return 0
        return(get_pos(string)-(get_neg(string)))
# Files Read
file1 = open("project_twitter_data.csv", "r")
file1_r = file1.readlines()
print(file1_r)
resulting_data = open("resulting_data.csv", "w")
# output the header row
resulting_data.write('Number of Retweets, Number of Replies, Positive Score, Negative Score, Net Score')
resulting_data.write('\n')
# output each of the rows:
for i in file1_r[1:]:
    lines = i.strip().split(",")
    row_string = '{}, {}, {}, {}, {}'.format(str(lines[1]),str(lines[2]),get_pos(lines[0]), get_neg(lines[0]),Net_Score(lines[0]))
    resulting_data.write(row_string)
    resulting_data.write('\n')
resulting_data.close()
#for i in file1_r:
    #print(i[:-5], get_pos(i[:-5]),get_neg(i[:-5]))
#for i in file1_r:
 #   lines = i.strip().split(",") 
  #  print(lines[1])
print(get_pos(file1_r[13])) 
